@font-face {
  font-family: NunitoLight;
  src: url(fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: NunitoBold;
  src: url(fonts/Nunito/Nunito-ExtraBold.ttf);
}

@font-face {
  font-family: fontCode;
  src: url(fonts/Space_Mono/SpaceMono-Regular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

nav>div {
  font-family: NunitoLight;
  font-size: 18px;
}

.text1 {
  color: white;
  margin-bottom: 20px;
  letter-spacing: 5px;
  animation: text 3s 1;
  text-align: center;
  font-family: NunitoBold;
  font-size: 48px;
}

.text2 {
  text-align: center;
  font-family: fontCode;
  font-size: 20px;
  color: white;
}

.text3 {
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  animation: type 3s steps(23);
  border-right: 4px solid white;
  width: 23ch;
  font-family: NunitoBold;
  font-size: 34px;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 23ch;
  }
}

@keyframes text {
  0% {
    color: white;
  }

  30% {
    letter-spacing: 10px;
  }

  85% {
    letter-spacing: 5px;
  }
}



#footer {
  height: 60px;
  background: #141f3d;

}
.card-title {
  font-family: NunitoBold;
  font-size: 24px;
}

.card-text {
  font-family: fontCode;
  font-size: 14px;
  text-align: justify;
}

#banner {
  height: 200px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 120px 120px;
}

#judultopik {
  font-size: 20px;
}

#isitopik {
  font-size: 14px;
  font-family: fontCode;
  text-align: left;
  margin-left: 15px;
}

#akhirtopik {
  text-align: right;
  font-family: fontCode;
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.gambarcorrect {
  width: 20px;
  height: 20px;
}

#like {
  width: 15px;
  height: 15px;
  float: left;
  margin-top: 3px;
  margin-left: 15px;
}

#totallike {
  float: left;
  font-size: 12px;
  padding-left: 2px;
}

#answer {
  width: 15px;
  height: 15px;
  float: left;
  margin-top: 2px;
  margin-left: 15px;
}

#totalanswer {
  float: left;
  font-size: 12px;
  padding-left: 2px;
}

#jumlahlike {
  font-size: 12px;
  padding-left: 2px;
}

#gambarlike {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

@media (min-width: 992px) {
  .card-title {
    font-size: 32px;
  }

  .card-text {
    font-size: 16px;
  }

  .text1 {
    font-size: 64px;
  }

  .text2 {
    font-size: 22px;
  }

  .text3 {
    font-size: 52px;
  }

  #banner {
    height: 350px;
    background-position: bottom;
    background-size: 220px 220px;
  }

  #judultopik {
    font-size: 24px;
  }

  #isitopik {
    font-size: 16px;
  }

  #akhirtopik {
    font-size: 14px;
  }

  #like {
    width: 20px;
    height: 20px;
  }

  #totallike {
    font-size: 16px;
    padding-left: 5px;
  }

  #answer {
    width: 20px;
    height: 20px;
  }

  #totalanswer {
    font-size: 16px;
    padding-left: 5px;
  }

  #jumlahlike {
    font-size: 16px;
    padding-left: 5px;
  }

  #gambarlike {
    width: 20px;
    height: 20px;
    margin-top: 2px;
  }
}