@font-face {
  font-family: NunitoLight;
  src: url(fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: NunitoBold;
  src: url(fonts/Nunito/Nunito-ExtraBold.ttf);
}

@font-face {
  font-family: fontCode;
  src: url(fonts/Space_Mono/SpaceMono-Regular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

nav>div {
  font-family: NunitoLight;
  font-size: 18px;
}

.text1 {
  font-size: 60px;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 5px;
  animation: text 3s 1;
}

.text2 {
  font-size: 20px;
  color: white;
}

@keyframes text {
  0% {
    color: white;
  }

  30% {
    letter-spacing: 10px;
  }

  85% {
    letter-spacing: 5px;
  }
}

#container {
  min-height: 100%;
  position: relative;
}

#body {
  padding-bottom: 120px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #141f3d;
}